site_name: Zentra
site_description: A Python SDK for building Next.js and FastAPI apps faster
site_url: https://zentra.achronus.dev/

theme:
  name: "material"
  custom_dir: "docs/theme"
  language: en
  palette:
    scheme: slate
    primary: black
    accent: blue
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.path
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  logo: "icon.png"
  favicon: "icon.png"
  icon:
    repo: fontawesome/brands/github

repo_name: Achronus/zentra
repo_url: https://github.com/Achronus/zentra
edit_uri: edit/main/docs

extra_css:
  - "assets/css/icons.css"

nav:
  - Zentra: index.md
  - Getting Started:
      - Getting Started: starting/index.md
      - Installation: starting/install.md
      - Homage: starting/stack.md
      - License: starting/license.md
  - SDK:
      - Zentra SDK: sdk/index.md
      - Tutorial - User Guide:
          - Tutorial - User Guide: sdk/tutorial/index.md
          - Creating a Project: sdk/tutorial/create.md
          - Frontend Files: sdk/tutorial/frontend-files.md
      - CLI Commands:
          - CLI Commands: sdk/commands/index.md
          - init: sdk/commands/init.md
  - API:
      - Zentra API: api/index.md
      - Tutorial - User Guide:
          - Tutorial - User Guide: api/tutorial/index.md
          - First Steps: api/tutorial/first-steps.md
          - Creating Routes: api/tutorial/create-routes.md
          - Creating Tables: api/tutorial/create-tables.md
          - Authentication: api/tutorial/authentication.md
          - Project Settings: api/tutorial/settings.md
      - API Reference:
          - API Reference: api/reference/index.md
          - zentra_api.auth: api/reference/auth.md
          - zentra_api.core: api/reference/core.md
          - zentra_api.crud: api/reference/crud.md
          - zentra_api.responses: 
            - zentra_api.responses: api/reference/responses/index.md
            - base: api/reference/responses/base.md  
            - exceptions: api/reference/responses/exceptions.md
            - messages: api/reference/responses/messages.md
            - models: api/reference/responses/models.md
            - utils: api/reference/responses/utils.md
          - zentra_api.schema: api/reference/schema.md
      - CLI Commands:
          - CLI Commands: api/commands/index.md
          - init: api/commands/init.md
          # - add-route: api/commands/add-route.md
          - new-key: api/commands/new-key.md
        # - build: api/commands/build.md
      - Route Responses: api/route-responses.md
      - Poetry Scripts: api/poetry-scripts.md
  - Models:
      - Models: models/index.md
  - Help:
      - Help: help/index.md
      - Errors:
          - Errors: help/errors/index.md
          # - Common Errors: help/errors/common.md
          # - Setup Errors: help/errors/setup.md
          # - Build/Generate Errors: help/errors/build.md
      - Reporting Issues: help/report.md
  - Changelog: changelog.md

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Achronus/zentra
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/zentra

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - md_in_html
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - docs/assets/icons
  - pymdownx.highlight:
      pygments_lang_class: true
      auto_title: true
      linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      title: Page Contents

plugins:
  - search
  - mike:
      alias_type: symlink
      canonical_version: latest
  - mkdocstrings:
      handlers:
        python:
          preload_modules:
            - zentra_api
          options:
            show_source: true
            show_root_toc_entry: false
            show_object_full_path: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_object_full_path: false
            docstring_style: google
