# Database #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
*.db

# Distribution / packaging 
dist/
build/

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Environments 
env/ 
venv/
.env*

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
*__.pytest_cache__

# next.js
.next/
/out/
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts